/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */
/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden {
  display: none !important; }

/* Author's Styles */
/* Fonts & Colors */
@font-face {
  font-family: Lato;
  src: url(/fonts/Lato-Regular.ttf); }
@font-face {
  font-family: Poppins;
  src: url(/fonts/Poppins-Regular.ttf); }
/* Transitions */
/* Universal Styles */
body {
  font-family: Lato;
  font-size: 16px; }

h1, h2, h3, h4, h5, h6 {
  font-family: Poppins;
  text-transform: uppercase;
  margin: 0;
  text-align: center; }

h2, h4 {
  font-weight: 400; }

.content-wrapper {
  margin: 0px 20px; }

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center; }
  .button-container a:link,
  .button-container a:visited {
    color: #003952;
    font-family: Poppins;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase; }

/* Hero section */
#hero .content-wrapper {
  margin-top: 300px; }
#hero h1 {
  padding-top: 50px;
  font-size: 1.44rem;
  line-height: 1.25rem;
  text-align: center; }
  #hero h1 span {
    display: block;
    font-size: 1.02rem; }
#hero .rounded-green-button {
  background: #a9cf38;
  border-radius: 5px;
  padding: 5px 15px;
  min-width: 135px;
  max-width: 140px;
  margin: 0 auto;
  margin-top: 10px; }
#hero .newsletter-container {
  background: #003952;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 25px;
  padding: 25px 0px; }
  #hero .newsletter-container .content-wrapper {
    margin-top: 0px; }
  #hero .newsletter-container h2, #hero .newsletter-container h3 {
    line-height: 1.30rem;
    margin: 0;
    text-align: left; }
  #hero .newsletter-container h2 {
    color: #a9cf38;
    font-size: 1rem; }
  #hero .newsletter-container h3 {
    color: #fff;
    font-size: 1.95rem; }
  #hero .newsletter-container form {
    display: flex;
    flex-direction: column;
    padding: 20px 0px; }
    #hero .newsletter-container form input {
      border: none;
      border-radius: 10px;
      padding: 10px 5px; }
    #hero .newsletter-container form input[type="email"] {
      color: lightgray;
      text-transform: uppercase; }
    #hero .newsletter-container form input[type="submit"] {
      background: #a9cf38;
      color: #003952;
      font-family: Poppins;
      font-weight: 700;
      text-transform: uppercase;
      margin-top: 10px; }

/* COVID CTA */
#cta {
  background: #e06c29; }
  #cta .content-wrapper {
    padding: 25px 0px; }
  #cta h1 {
    color: #fff; }
  #cta p {
    color: #003952;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.45rem;
    text-align: center; }
  #cta .button-container {
    font-size: 1.25rem; }
  #cta .rounded-blue-button {
    background: #00b5c2;
    border-radius: 5px;
    padding: 5px 15px;
    padding: 10px 0px; }
  #cta .rounded-green-button {
    background: #a9cf38;
    border-radius: 5px;
    padding: 5px 15px;
    margin-top: 10px;
    padding: 10px 0px; }

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/
.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */ }

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/
.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto; }

/*
* Hide visually and from screen readers, but maintain layout
*/
.invisible {
  visibility: hidden; }

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }
@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }

  pre {
    white-space: pre-wrap !important; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }

/*# sourceMappingURL=main.css.map */
