@mixin green-button {
    background: $lime-green;
    padding: 5px 10px;
}
@mixin button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    a:link,
    a:visited {
      color: $dark-blue;
      font-family: $heading-font;
      font-weight: 700;
      text-decoration: none;
      text-transform: uppercase;
    }
}
@mixin body-green-button {
    background: $lime-green;
    border-radius: 5px;
    padding: 5px 15px;
    &:hover {
        background: $light-blue;
        transition: $bg-transition;
    }
}
@mixin body-blue-button {
    background: $light-blue;
    border-radius: 5px;
    padding: 5px 15px;
    &:hover {
        background: $lime-green;
        transition: $bg-transition;
    }
}
@mixin section-header {
    h1 {
        color: #fff;
        padding: 20px 0px;
        span {
          color: $lime-green;
        }
      }
}
@mixin page-header {
    h1 {
        color: #fff;
        font-size: 1.5rem;
        line-height: 1.5rem;
        padding: 20px 0px;
        margin: 0 auto;
        span {
          color: $lime-green;
        }
      }
}
@mixin statistic-format {
        h2 {
          color: $dark-blue;
          font-size: 2rem;
          line-height: 2rem;
          font-weight: 700;
          span {
            display: block;
            font-weight: 600;
            font-size: 1.35rem;
            line-height: 1.45rem;
            text-transform: none;
            padding-top: 25px;
          }
        }
}